# libtestdisk
lib/libtestdisk.a
Makefile
Makefile.in
*.lo
*.o
*.8
.deps

# testdisk
testdisk/config/
testdisk/config.*
testdisk/autom4te.cache
testdisk/autoscan.log
testdisk/autoscan-*.log
testdisk/aclocal.m4
testdisk/compile
testdisk/configure
testdisk/configure.scan
testdisk/depcomp
testdisk/install-sh
testdisk/missing
testdisk/stamp-h1
testdisk/linux/testdisk.spec
testdisk/src/fidentify
testdisk/src/moc_qphotorec.cpp
testdisk/src/photorec
testdisk/src/photorec.ses
testdisk/src/qphotorec
testdisk/src/rcc_qphotorec.cpp
testdisk/src/testdisk
testdisk/win/qt.conf
testdisk/win/readme.txt
testdisk/*~
testdisk/.DS_Store

# ntfsprogs
ntfsprogs/stamp-h1
ntfsprogs/INSTALL
ntfsprogs/aclocal.m4
ntfsprogs/compile
ntfsprogs/config.guess
ntfsprogs/config.h.in
ntfsprogs/config.sub
ntfsprogs/configure
ntfsprogs/depcomp
ntfsprogs/install-sh
ntfsprogs/ltmain.sh
ntfsprogs/missing
ntfsprogs/config.guess~
ntfsprogs/config.h
ntfsprogs/config.h.in~
ntfsprogs/config.log
ntfsprogs/config.status
ntfsprogs/config.sub~
ntfsprogs/configure~
ntfsprogs/install-sh~
ntfsprogs/ntfsprogs.spec
ntfsprogs/libntfs/.libs/
ntfsprogs/libntfs/libntfs.conf
ntfsprogs/libntfs/libntfs.la
ntfsprogs/libtool
ntfsprogs/autom4te.cache/
ntfsprogs/ntfsprogs/.libs/
ntfsprogs/ntfsprogs/mkntfs
ntfsprogs/ntfsprogs/ntfscat
ntfsprogs/ntfsprogs/ntfsclone
ntfsprogs/ntfsprogs/ntfscluster
ntfsprogs/ntfsprogs/ntfscmp
ntfsprogs/ntfsprogs/ntfscp
ntfsprogs/ntfsprogs/ntfsfix
ntfsprogs/ntfsprogs/ntfsinfo
ntfsprogs/ntfsprogs/ntfslabel
ntfsprogs/ntfsprogs/ntfsls
ntfsprogs/ntfsprogs/ntfsresize
ntfsprogs/ntfsprogs/ntfsundelete

